<div id="footer">
    <div id="articles">
        <div class="header">
            <div class="body">
                <div>
                    <div class="section">
                        <h3>About us</h3>
                        <p>
                            This website template has been designed by for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the.
                        </p>
                    </div>
                    <div class="section">
                        <h3>Latest Blog Posts</h3>
                        <ul class="blog">
                            <li>
                                <p>
                                    <span>Posted Feb. 21, 2023</span> <a href="blog.html">Choosing The Right Hair Color For You</a> Our website templates are created with inspiration, checked for quality and originality.
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span>Posted Feb. 20, 2023</span> <a href="blog.html">Color Trends For Spring 2023</a> What’s more, they’re absolutely free! You can do a lot with them. You can modify them.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="section">
                        <h3>Contact Information</h3>
                        <table class="info">
                            <tbody>
                            <tr>
                                <td>Address:</td>
                                <td>4982 Meadowview Drive Ashburn, VA 2014</td>
                            </tr> <tr>
                                <td>Phone:</td>
                                <td>540-754-4081</td>
                            </tr> <tr>
                                <td>Hours Open:</td>
                                <td>Tues- Sundays: 10 am- 9pm</td>
                            </tr>
                            </tbody>
                        </table>
                        <h3>Follow us</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <form action="index.hbs" method="post">
            <input type="text" value="Enter email address and get 10% off" class="txtfield" onMouseUp="return false;" onFocus="this.select();">
            <input type="submit" value="SIGNUP" class="btn">
        </form>
        <p class="copy">Copyright &copy; 2015 &nbsp; <a href="http://partners-pro.ru" target="_blank"><u>Partners-Pro.ru | Бесплатное изготовление сайтов</u></a></p>
    </div>
    <div class="container">
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="height:75px; width:560px">
            <tbody>
            <tr>
                <td style="height:75px; text-align:center; vertical-align:middle; width:560px">
                    <p><a href="http://partners-pro.ru" target="_blank"><img alt="Изготовление партнёрских интернет-магазинов и бесплатных сайтов" src="http://partners-pro.ru/site-free/banner.gif" style="height:75px; width:560px" /></a></p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>