<div id="contents">
    <div id="contact">
        <h1>Contact</h1>
        <img src="images/telephone.png" alt="Img">
        <p>
            This website template has been designed by for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the.
        </p>
        <form action="home.hbs" method="post">
            <table>
                <tbody>
                    <tr>
                        <td><label>Name:</label></td>
                        <td><input type="text" value="" class="txtfield"></td>
                    </tr> <tr>
                        <td><label>E-mail Address:</label></td>
                        <td><input type="text" value="" class="txtfield"></td>
                    </tr> <tr>
                        <td><label>Telephone Number:</label></td>
                        <td><input type="text" value="" class="txtfield"></td>
                    </tr> <tr>
                        <td><label>Subject:</label></td>
                        <td><input type="text" value="" class="txtfield"></td>
                    </tr> <tr>
                        <td><label>Message:</label></td>
                        <td><textarea></textarea> <input type="submit" value="" class="btn"></td>
                </tbody>
            </table>
        </form>
    </div>
</div>
