<div id="contents">
    <div id="adbox">
        <div>
            <img src="images/beauty.png" alt="Img">
            <div class="details">
                <h3>We Bring out your beauty naturally...</h3>
                <a href="home.hbs">Set An Appointment Now</a>
            </div>
        </div>
        <span class="footer"></span>
    </div>
    <div id="featured">
        <a href="home.hbs" class="all-colors"></a> <a href="home.hbs" class="highlights"></a> <a href="home.hbs" class="coloring"></a>
    </div>
</div>

